@{
    ViewData["Title"] = "Home Page";
}

<main>
        <section id="banners">
            <div class="container">
                <div class="banners">
                    <div class="banner b1"><a href="#" class="banner_link"><img src="banner1.jpg" alt="" class="banner_link-img"></a></div>
                    <div class="banner b2"><a href="#" class="banner_link"><img src="banner2.jpg" alt="" class="banner_link-img"></a></div>
                    <div class="banner b3"><a href="#" class="banner_link"><img src="banner3.jpg" alt="" class="banner_link-img"></a></div>
                    <div class="banner b4"><a href="#" class="banner_link"><img src="banner4.jpg" alt="" class="banner_link-img"></a></div>
                </div>
            </div>
        </section>
        <section id="products">
            <div class="container">
                <div class="head">
                    <h2 class="products_title">Last Products</h2>
                    <a href="#" class="products_shop">Shop Now!</a>
                </div>
                <div class="products">
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
            </div>
        </section>
    </main>