@{
    ViewData["Title"] = "Home Page";
}

<main>
        <section id="banners">
            <div class="container">
                <div class="banners">
                    <div class="banner b1"><a href="#" class="banner_link"><img src="../../banner1.jpg" alt=""
                                class="banner_link-img"></a></div>
                    <div class="banner b2"><a href="#" class="banner_link"><img src="../../banner2.jpg" alt=""
                                class="banner_link-img"></a></div>
                    <div class="banner b3"><a href="#" class="banner_link"><img src="../../banner3.jpg" alt=""
                                class="banner_link-img"></a></div>
                    <div class="banner b4"><a href="#" class="banner_link"><img src="../../banner4.webp" alt=""
                                class="banner_link-img"></a></div>
                </div>
            </div>
        </section>
        <section id="products">
            <div class="container">
                <div class="head">
                    <h2 class="products_title">Last Products</h2>
                    <a href="#" class="products_shop psheader">Shop Now!</a>
                </div>
                <div class="products">
                    <div class="product"><a href="" class="card">
                            <!-- <img src="lf.webp" class="card_image" alt="" /> -->
                            <!-- <svg class="card_arc" xmlns="http://www.w3.org/2000/svg" fill="#000">
                                <path />
                            </svg> -->
                            <div class="card_overlay">
                                <div class="card_header">
                                    <div class="card_header-text">
                                        <h4 class="card_title">Fourth Wing</h4>
                                        <div class="card_status">
                                            <div class="card_status-sub">
                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="svg_price"
                                                    viewBox="0 0 1280.000000 1280.000000"
                                                    preserveAspectRatio="xMidYMid meet">
                                                    <metadata>
                                                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                                                    </metadata>
                                                    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
                                                        stroke="none">
                                                        <path d="M7175 12143 c-851 -76 -1533 -478 -2082 -1227 -406 -553 -641 -1235
-704 -2038 -15 -199 -7 -810 15 -1028 17 -171 63 -528 72 -567 l6 -23 -493 -2
-493 -3 -72 -420 c-166 -968 -214 -1248 -214 -1256 0 -5 299 -9 706 -9 l706 0
-7 -67 c-25 -240 -78 -526 -131 -712 -58 -197 -185 -486 -310 -698 -117 -200
-326 -498 -473 -673 -270 -322 -605 -604 -928 -782 -40 -22 -75 -43 -78 -47
-3 -6 159 -1778 177 -1929 3 -22 4 -22 58 15 112 75 319 196 460 267 335 170
640 273 955 323 154 25 533 25 695 0 295 -45 602 -122 965 -240 640 -209 1045
-287 1485 -287 404 0 735 60 1075 195 199 78 565 253 565 270 0 14 -518 1816
-524 1822 -2 2 -66 -27 -142 -65 -348 -174 -685 -277 -1022 -313 -154 -16
-448 -6 -627 21 -77 12 -237 41 -355 66 -428 89 -595 108 -819 93 -217 -14
-454 -72 -655 -161 -50 -21 -98 -42 -106 -46 -8 -3 1 12 20 35 182 213 309
368 398 487 556 744 785 1369 857 2339 l7 87 599 0 c329 0 599 1 599 3 0 7
281 1646 285 1665 l5 22 -780 0 c-429 0 -780 4 -780 8 0 5 -7 59 -15 122 -131
991 -85 1662 149 2197 144 329 398 625 657 767 171 93 336 131 544 123 259 -9
447 -86 629 -257 223 -209 380 -571 456 -1050 29 -185 28 -180 49 -180 10 0
358 41 774 90 416 50 764 90 773 90 18 0 16 30 -12 295 -67 610 -252 1155
-538 1583 -120 180 -194 271 -340 417 -390 389 -852 606 -1428 670 -121 13
-497 18 -613 8z" />
                                                    </g>
                                                </svg>
                                                <p class="sub-price">20.99 dollars</p>
                                            </div>
                                            <div class="card_status-sub">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="svg_star"
                                                    viewBox="0 0 260 245">
                                                    <path d="m56,237 74-228 74,228L10,96h240" />
                                                </svg>
                                                <p class="sub-score">4.5</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description">Each chapter is relatively self-contained, presenting an
                                    algorithm, a design technique, an application area, or a related topic Each chapter
                                    is relatively self-contained, presenting an
                                    algorithm, a design technique, an application area, or a related topic Each chapter
                                    is relatively self-contained, presenting an
                                    algorithm, a design technique ...</p>
                                <button class="card_addtocard">Add to Card</button>

                            </div>
                        </a></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
                <a href="#" class="products_shop psfooter">Shop Now!</a>

            </div>
        </section>
    </main>