@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalaDuck</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
    <!-- icon -->
    <link href="assets/img/favicon.png" rel="shortcut icon">
    <!-- Fonts -->
    <link rel="stylesheet" href="#">
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="header">
                <!-- <a href="#" class="menu_logo"><img src="" alt="Machic" class="menu_logo-img"></a> -->
                <nav class="menu">
                    <a href="#" class="header_logo">Logo</a>
                    <a href="./" class="menu_link">Shop</a>
                    <a href="#" class="menu_link">About us</a>
                    <a href="#" class="menu_link">Contact us</a>
                    <span class="header-icon"><i class="fa fa-bars"></i></span>
                </nav>
                <a href="#" class="header_login">Login</a>
            </div>
        </div>
    </header>

    <!-- Main -->
    <Main>
        <section id="banners">
            <div class="container">
                <div class="banners">
                    <div class="banner b1"></div>
                    <div class="banner b2"></div>
                    <div class="banner b3"></div>
                    <div class="banner b4"></div>
                </div>
            </div>
        </section>
        <section id="products">
            <div class="container">
                <div class="head">
                    <h2 class="titr">Last Products</h2>
                    <a href="#" class="shop">Shop Now!</a>
                </div>
                <div class="products">
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
            </div>
        </section>
    </Main>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div class="about">
                    <a href="#" class="header_logo">Logo</a>
                    <p class="about_txt"></p>
                </div>
                <div class="quickaccess">
                    <a href="#" class="footer_quickaccess-link">Shop</a>
                    <a href="#" class="footer_quickaccess-link">About us</a>
                    <a href="#" class="footer_quickaccess-link">Contact us</a>
                    <a href="#" class="footer_quickaccess-link">Legal</a>
                </div>
                <div class="contact">
                    <a href="#" class="footer_contact-link">Instagram</a>
                    <a href="#" class="footer_contact-link">Telegram</a>
                    <a href="#" class="footer_contact-link">Tweeter</a>
                    <a href="#" class="footer_contact-link">Facebook</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>