@using KalaDuck.Models
@using KalaDuck.Utility
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="banners">
                <div class="banners">
                    <div class="banner b1">
                        <a href="#" class="banner_link">
                            <picture>
                                <source media="(min-width: 768px)" srcset="~/img/banner1-1.jpg" />
                                <img src="~/img/banner1-2.jpg"  class="banner_link-image"/>
                            </picture>
                        </a>
                    </div>
                    <div class="banner b2">
                        <a href="#" class="banner_link">
                            <picture>
                                <source media="(min-width: 768px)" srcset="~/img/banner2-1.jpg" />
                                <img src="~/img/banner2-2.jpg"  class="banner_link-image"/>
                            </picture>
                        </a>
                    </div>
                    <!-- <div class="banner b3">
                        <picture>
                            <source media="(min-width: 768px)" srcset="origin2.jpg" />
                            <img src="res2.jpg"  class="banner_link-image"/>
                        </picture>
                    </div> -->
                </div>
        </section>
    <section id="products">
        <div class="container">
            <div class="head">
                <h2 class="products_title">Last Products</h2>
                <a asp-controller="Shop" asp-action="Index" class="products_shop psheader">Shop Now!</a>
            </div>
            <br />
            <div class="products">
                @foreach (var item in Model)
                {
                    <div class="product">
                        <a href="" class="card">
                            <div class="card_overlay">
                                <div class="card_header">
                                    <div class="card_header-text">
                                        <h4 class="card_title">@item.Title</h4>
                                        <div class="card_status">
                                            <div class="card_status-sub">
                                                <span class="price-sign"><i class="fa fa-dollar-sign"></i></span>
                                                <p class="sub-price">@item.Price.GeneratePriceFormat()</p>
                                            </div>
                                            <div class="card_status-sub">
                                                <span class="score-sign"><i class="fa fa-star"></i></span>
                                                <p class="sub-score">@item.Point.GeneratePointFormat()</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description">@item.Description.GenerateShortDescription()</p>
                                <button class="card_addtocard">Add to Card</button>

                            </div>
                        </a>
                    </div>
                }
            </div>
            <a asp-controller="Shop" asp-action="Index" class="products_shop psfooter">Shop Now!</a>

        </div>
    </section>
</main>