@font-face {
  font-family: 'Shabnam';
  src: url('../fonts/Shabnam-FD.eot'),
    url('../fonts/Shabnam-FD.woff') format('woff'),
    url('../fonts/Shabnam-FD.ttf');
}

* {
  font-family: "Shabnam";
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --primary: #023047;
  --secondary: #ffb703;
  --bg: #fefefe;
  background-color: var(--bg);
}

main {
  display: block;
}

::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

section {
  padding: 50px 0;
}

.container {
  width: 75%;
  margin: 0 auto 0;
}

#header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  z-index: 999;
  transition: 0.2s;
  background-color: var(--secondary);
}

.header-sticky {
  top: 0;
  z-index: 999;
  background-color: var(--secondary);
}

.header-icon {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: var(--primary);

}

.menu_link {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 3px;
  transition: all 0.2s;
  color: var(--primary)
}

.menu_link:hover {
  opacity: 0.9;
  margin-bottom: 4px;
}

.header_logo {
  font-size: 32px;
  font-weight: 700;
  margin-right: 30px;
}

.header_login {
  padding: 12px 24px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 8px;
  border: 2px solid var(--primary);
  transition: all 0.3s;
}

.header_login:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.banners {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 2fr 1fr;
  height: 45rem;
}

.banner {
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
}

.banner_link-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banners>.b1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.banners>.b2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.banners>.b3,
.banners>.b4 {
  
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products_title {
  font-size: 48px;
  padding-bottom: 12px;
  border-bottom: 4px solid var(--secondary);
  display: block;
  width: fit-content;

}

.products_shop {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 14px 28px;
  border-radius: 8px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  transition: all 0.3s;
}

.products_shop:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.products {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product {
  background-color: var(--secondary);
  padding: 20px;
  height: 20rem;
  border-radius: 4px;
}

#footer {
  background-color: var(--primary);
  padding: 50px 0 0 0;
}

.footer {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr 1fr;
}

.about {
  padding-right: 80px;
}

.footer_logo {
  color: var(--bg);
  font-size: 32px;
  font-weight: 700;
  margin-right: 30px;
}

.about_txt,
.footer_quickaccess-link,
.footer_contact-link,
.footer_title {
  color: var(--bg);
}

.about_txt {
  text-align: justify;
  line-height: 1.5;
  font-size: 17px;
}

.footer_title {
  margin: 0 0 20px 0;
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--secondary);
  display: block;
  width: fit-content;
}

.footer_quickaccess-link,.footer_contact-link {
  font-size: 18px;
  display: block;
  width: fit-content;
  padding-left: 8px;
  border-left: 2px solid var(--secondary);
  transition: all 0.3s;
  margin-bottom: 10px;
}

.footer_quickaccess-link:hover,.footer_contact-link:hover {
  margin-left: 8px;
}

.copyright {
  padding: 10px;
  margin-top: 40px;
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary);
}

.copyright > a {
  border-bottom: 1px solid var(--primary);
}


/* --- */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  list-style-type: none;
}