<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KalaDuck.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header">
                <nav class="menu">
                    <a href="#" class="header_logo">Logo</a>
                    <a href="./" class="menu_link">Shop</a>
                    <a href="#" class="menu_link">About us</a>
                    <a href="#" class="menu_link">Contact us</a>
                    <span class="header-icon"><i class="fa fa-bars"></i></span>
                </nav>
                <a href="#" class="header_login">Login</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div class="about">
                    <a href="#" class="header_logo">Logo</a>
                    <p class="about_txt"></p>
                </div>
                <div class="quickaccess">
                    <a href="#" class="footer_quickaccess-link">Shop</a>
                    <a href="#" class="footer_quickaccess-link">About us</a>
                    <a href="#" class="footer_quickaccess-link">Contact us</a>
                    <a href="#" class="footer_quickaccess-link">Legal</a>
                </div>
                <div class="contact">
                    <a href="#" class="footer_contact-link">Instagram</a>
                    <a href="#" class="footer_contact-link">Telegram</a>
                    <a href="#" class="footer_contact-link">Tweeter</a>
                    <a href="#" class="footer_contact-link">Facebook</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
