<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KalaDuck.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header">
                <a href="#" class="header_logo">KalaDuck</a>
                <div class="header_menu">
                    <nav class="menu">
                        <a href="#" class="menu_link">Shop</a>
                        <a href="#" class="menu_link">About us</a>
                        <a href="#" class="menu_link">Contact us</a>
                    </nav>
                    <a href="#" class="header_login">Login</a>
                </div>
                <span class="header-icon"><i class="fa fa-bars"></i></span>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div class="about">
                    <a href="#" class="footer_logo">KalaDuck</a>
                    <p class="about_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minus labore
                        impedit id voluptate aperiam, tempore sunt dolorem porro repudiandae dicta pariatur sit animi
                        distinctio corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quos quod,
                        repellendus recusandae molestias assumenda libero voluptatibus esse. Dignissimos mollitia itaque
                        fuga, repudiandae accusantium maiores quisquam.</p>
                </div>
                <div class="quickaccess">
                    <h3 class="footer_title">Quick Access</h3>
                    <a href="#" class="footer_quickaccess-link">Shop</a>
                    <a href="#" class="footer_quickaccess-link">About us</a>
                    <a href="#" class="footer_quickaccess-link">Contact us</a>
                    <a href="#" class="footer_quickaccess-link">Legal</a>
                </div>
                <div class="contact">
                    <h3 class="footer_title">Contact Us</h3>
                    <a href="#" class="footer_contact-link">Instagram</a>
                    <a href="#" class="footer_contact-link">Telegram</a>
                    <a href="#" class="footer_contact-link">Tweeter</a>
                    <a href="#" class="footer_contact-link">Facebook</a>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; 2024 KalaDuck. Designed by <a href="https://github.com/Sasslak">Sasslak</a></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
